{% extends 'ecommerce/base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
{% load static %}

<div class="card text-left text-white bg-dark border-black" align="left">


<form method="post" class="form-inline">
    <input name="sort_filter" value="sort" hidden="hidden"/>
    <div class="form-group text-white" style="margin-left:10px;">
        {% csrf_token %}
        <label for="sort">Sort By:&ensp;&nbsp;</label>
        <select id="sort" name="sort" style="margin-right:10px;">
            <option value="relevance">Relevance</option>
            <option value="price_low_high">Price - Low to High</option>
            <option value="price_high_low">Price - High to Low</option>
            <option value="sqft_low_high">Area - Low to High</option>
            <option value="sqft_high_low">Area - High to Low</option>
            <option value="latest">Most Recent</option>
        </select>
        <button type="submit" class="btn btn-primary">Sort</button>
    </div>
</form>

<form method="post" class="form-inline">
    <input name="sort_filter" value="filter" hidden="hidden"/>
    <div class="form-group text-white">
        {% csrf_token %}
        {% for field in form %}
        {{ field.label_tag }}
        <div class="form-group">
            <div class="col-sm-10">{{ field }}</div>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="card mt-4">
                <ul class="list-group">
                    {% for image in images %}
                    <li class="list-group-item inline">
                        <div class="row">
                            <div class="image-container"
                                 style="height:200px;width:300px;margin-right:20px;margin-left:10px;">
                                <img src="{{ image.image.url }}" style="height:100%;width:100%;">
                            </div>
                            <div>
                                <h2><strong><a href="{% url 'ecommerce:property_details' pk=image.post.id %}">
                                    {{ image.post }}</a></strong></h2>
                                <small>Property for {{ image.post.buy_rent }}</small>
                                <br>
                                <small>{{ image.post.property_type }}</small>
                                <h5>in {{ image.post.locality }}</h5>
                                <h6>{{ image.post.construction_status }}</h6>
                                <small>{{ image.post.area }} sq. ft.</small>
                                <h3>&#x20b9; {{ image.post.price }}</h3>
                                <small>
                                    <small>Posted on {{ image.post.post_date_time }}</small>
                                </small>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}