{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/stylesearch.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<div class="card text-white bg-primary">
    <div class="card-header">
        {% if user.is_authenticated %}
        <p class="lead">Signed in as <span class="badge badge-dark">{{ user.username }}</span>
        </p>
    </div>
</div>


<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">REES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item">
                <a class="nav-link" href="{% url 'ecommerce:dashboard' %}">Dashboard</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'ecommerce:logout_user' %}">Logout</a>
            </li>


            {% else %}

            <li class="nav-item">
                <a class="btn btn-outline-dark text-center" href="{% url 'ecommerce:login_user' %}">Login</a>
            </li>
            {% endif %}
            {% ifequal user.type 'seller' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ecommerce:post_property' %}">Post</a>
            </li>
            {% endifequal %}
        </ul>

    </div>
</nav>


<form method="post" action="#" id="post_property" enctype="multipart/form-data">
    {% csrf_token %}
    <select id="sort" name="sort">
        <option value="relevance">Relevance</option>
        <option value="price_low_high">Price - Low to High</option>
        <option value="price_high_low">Price - High to Low</option>
        <option value="sqft_low_high">Area - Low to High</option>
        <option value="sqft_high_low">Area - High to Low</option>
        <option value="latest">Most Recent</option>
    </select>
    <div class="col-12 col-md-3">
        <button type="submit" class="btn btn-block btn-lg btn-primary">Sort</button>
    </div>
</form>


<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="card mt-4">
                <ul class="list-group">
                    {% for image in images %}
                    <li class="list-group-item inline">
                        <img src="{{ image.image.url }}">
                        <a href="{% url 'ecommerce:property_details' pk=image.post.id %}">{{ image.post }}</a>
                        <span>{{ image.post.description }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>
