{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/stylepostproperty.css' %}">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>


<div class="card text-white bg-primary">
  <div class="card-header">
    {% if user.is_authenticated %}
    <p class="lead"> Post Property
    </p>
 </div>
</div>
    



<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">REES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


    <li class="nav-item">
            <a class="nav-link" href="{% url 'ecommerce:index' %}">Home</a>
    </li>


      <li class="nav-item">
            <a class="nav-link" href="{% url 'ecommerce:dashboard' %}">Dashboard</a>
      </li>


      <li class="nav-item">
             <a class="nav-link" href="{% url 'ecommerce:logout_user' %}">Logout</a>
      </li>
              
    <!--<li class="nav-item">-->
    <!--{% ifequal user.type 'seller' %}-->
    <!--<a class="nav-link" href="{% url 'ecommerce:logout_user' %}">Logout</a>-->
    <!--</li>-->

    </ul>
  </div>
</nav>
<br>
<br>

<div id="centraldata">
    

    <form method="post" action="#" id="post_property" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ field.errors }}</span>
            </div>
            <label class="control-label col-sm-2" >{{ field.label_tag }}</label>
            <div class="col-sm-10">{{ field }}</div>
        </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ field.errors }}</span>
            </div>
            <label class="control-label col-sm-2" for="image1">Picture</label>
            <div class="col-sm-10">
                <input type="file" accept="image/jpeg, image/png" id="image1" name="image1">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ field.errors }}</span>
            </div>
            <label class="control-label col-sm-2" for="image1">Picture</label>
            <div class="col-sm-10">
                <input type="file" accept="image/jpeg, image/png" id="image2" name="image2">
            </div>
        </div>
         <button type="submit" class="btn btn-dark"> Post</button>
    </form>



</div>
{% else %}
<p>You need to be a registered seller to see the post owner's contact details. Login <a href="{% url 'ecommerce:login_user' %}">here</a></p>
{% endifequal %}
{% else %}
<p>You need to be a registered seller to see the post owner's contact details. Login <a href="{% url 'ecommerce:login_user' %}">here</a></p>
{% endif %}




