{% extends 'ecommerce/base.html' %}
{% block head %}
<!--suppress ALL -->
<script>
function myFunction() {
    alert("Owner: {{ property.user.first_name }} {{ property.user.last_name }}\nContact: {{ property.user.contact }}");
}




</script>

{% endblock %}
{% block title %}Home{% endblock %}

{% block body %}
{% load static %}


<!--suppress ALL -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <div class="card mt-4">

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" style="height:500px;width:100%;">
                        {% for image in images %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                            <img class="d-block w-100" src="{{ image.image.url }}" style="height:100%;width:100%">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <hr>
                <h2 style="margin-left:10px;">Find On Map</h2>
                <center>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="600" height="500" id="gmap_canvas"
                                src="https://maps.google.com/maps?q={{ property.address }}&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://www.pureblack.de">website erstellen lassen</a></div>
                    <style>
                        .mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
                    </style>
                </div>
                </center>

                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.5698945207228!2d72.87310075007782!3d19.213979286945097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7482835204f%3A0x369cbe793835676f!marigoldtowers!5e0!3m2!1sen!2sin!4v1539595411850"-->
                        <!--width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->


                <div class="card-body">
                    <h3 class="card-title">{{ property.property_title }}</h3>
                    <h4><span>&#x20b9;</span>{{ property.price }}</h4>
                    {% if property.description.strip %}
                    <p class="card-text">{{ property.description }}</p>
                    {% else %}
                    <p class="card-text">No Description</p>
                    {% endif %}
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    <span>Details</span>
                </div>
                <div class="card-body">
                    <p>Locality: {{ property.locality }}</p>
                    <hr>
                    <p>Type: {{ property.property_type }}</p>
                    <hr>
                    {% ifequal property.BHK "" %}
                    <p>BHK: N/A</p>
                    {% else %}
                    <p>BHK: {{ property.BHK }}</p>
                    {% endifequal %}
                    <hr>
                    <p>Construction Status: {{ property.construction_status }}</p>
                    <hr>
                    <p>Area (sq. ft.): {{ property.area }}</p>
                    <hr>
                    <p>Address: {{ property.address }}</p>
                    <hr>
                    {% if user.is_authenticated %}
                    {% ifequal property.buy_rent 'Sale' %}
                    {% ifequal user.type 'buyer' %}

                    <!--Get Contact -->
                    <form id="getContactForm" class="form-horizontal" role="form" action="#comments" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success" onclick="myFunction()">Get Contact</button>
                        <br><br>
                        <p class="text-danger">By clicking this button you can view the owner's details and your details
                            will be
                            shown to the owner as well.</p>
                    </form>

                    {% else %}
                    {% ifequal user.username property.user.username %}
                    <p>You own this post</p>
                    {% else %}
                    <p>You need to be a registered buyer to see the post owner's contact details. Login <a
                            href="{% url 'ecommerce:login_user' %}">here</a></p>
                    {% endifequal %}
                    {% endifequal %}
                    {% else %}
                    {% ifequal property.buy_rent 'Rent' %}
                    {% ifequal user.type 'tenant' %}

                    <!--Get Contact -->
                    <form id="getContactForm" class="form-horizontal" role="form" action="#comments" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success" onclick="myFunction()">Get Contact</button>
                        <br><br>
                        <p class="text-danger">By clicking this button you can view the owner's details and your details
                            will be
                            shown to the owner as well.</p>
                    </form>
                    {% else %}
                    {% ifequal user.username property.user.username %}
                    <p>You own this post</p>
                    {% else %}
                    <p>You need to be a registered tenant to see the post owner's contact details. Login <a
                            href="{% url 'ecommerce:login_user' %}">here</a></p>
                    {% endifequal %}
                    {% endifequal %}
                    {% endifequal %}
                    {% endifequal %}
                    {% endif %}
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
</div>
<!-- /.container -->


<div class="card-header text-white bg-dark" id="comments">
    <strong>Comments:</strong>
</div>

<div class="card-body ">
    <ul class="list-group">
        {% for comment in comments %}
        <li class="list-group-item">
            <h6>
                {{ comment.user }}
                <small>{{ comment.datetime }}</small>
            </h6>
            <p>{{ comment.comment }}</p>
        </li>
        {% endfor %}
    </ul>

    <!--taken till here -->
    <form class="form-horizontal" role="form" action="#comments" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        {% if user.is_authenticated %}
        {% ifequal user.type 'buyer' %}
        <textarea class="form-control form-control-md" id="a" name="a" placeholder="Your Comment" required></textarea>
        <div class="form-row">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <br>
                    <button type="submit" class="btn btn-success">
                        <span>Submit</span>
                    </button>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="card-body">
                <label for="a">
                    <span>You need to be a registered buyer to post a comment. Login <a
                            href="{% url 'ecommerce:login_user' %}">here</a></span>
                </label>
            </div>
        </div>
        <br>
        <textarea class="form-control form-control-md" id="a" name="a"
                  placeholder="Your Comment" disabled>
        </textarea>
        <div class="form-row">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <br>
                    <button type="submit" class="btn btn-success" disabled>
                        <span>Submit</span>
                    </button>
                </div>
            </div>
        </div>
        {% endifequal %}
        {% else %}
        <div class="card">
            <div class="card-body">
                <label for="a">
                    <span>You need to be a registered buyer to post a comment. Login <a
                            href="{% url 'ecommerce:login_user' %}">here</a></span>
                </label>
            </div>
        </div>

        <br>
        <textarea class="form-control form-control-md" id="a" name="a"
                  placeholder="Your Comment" disabled>
        </textarea>
        <div class="form-row">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <br>
                    <button type="submit" class="btn btn-success" disabled>
                        <span>Submit</span>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>


{% endblock %}