{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styleregister.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

<div class="box">   <!--black outline box begins here -->
    <center>
    <h2>Sign up</h2>
    <p>Already a user?<a href="{% url 'ecommerce:login_user' %}">Login</a></p>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">

            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ field.errors }}
                </span>
            </div>

            <div class="inputbox">
                <label class="control-label col-sm-2" >{{ field.label_tag }}
                </label>
            <div class="col-sm-10">{{ field }}</div>
            </div>

        </div>
      {% endfor %}
      <button class="btn btn-dark" type="submit">Sign up</button>
    </form>

</center>
</div>  <!--black outline box ends here -->


</body>
</html>